# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/

# Installer logs
pip-log.txt

# IDEs
.idea/
*.vscode/
*.pycproj
*.user
*.pyproj.user

# Data
results/
*.out
*.err

# Environments
env/

# Config File
**/config.json

# Local POC Data
examples/poc/requirement fetch/
examples/poc/requirement fetch backup/
examples/poc/系统复杂度评估20240711.xlsx
examples/dump result/